<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CH.Alika.Json.Test.Properties.Settings.AlikaJsonTestConnectionString"
            connectionString="Data Source=ulf2k8;Initial Catalog=MyTalkTalk;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CH.Alika.Json.Test.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
