<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TicketServiceTest.Properties.Settings.SampleConnectionString"
            connectionString="Data Source=BIGTONY\SQLEXPRESS;Initial Catalog=Sample;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="TicketServiceTest.Properties.Settings.AlikaJsonTestConnectionString"
            connectionString="Data Source=|DataDirectory|\AlikaJsonTest.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="CH.Alika.Json.Test.Properties.Settings.AlikaJsonTestConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\AlikaJsonTest.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
